@import "../../../styles.scss";
@import '../../../styles/front-page.scss';

.gap32 {
    gap: 32px;
}

.gap16 {
    display: grid;
    gap: 16px;
}

mat-card-subtitle {
    text-align: left;
    margin: 0;
}

.example-viewport {
    height: 60vh;
    width: auto;
    line-break: auto;
    overflow-x: hidden;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
    position: relative !important;
    padding-right: 8px;
    word-wrap: break-word;

    p {
        text-align: justify;
    }

    a {
        text-decoration: none;
        color: var(--purple-one);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.privacy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}