<div class="modal-background" (click)="closeProfil()">
  <div class="max-width" [ngClass]="">
    <app-avatar-choice class="profil-card profil-card-ownUser visible" *ngIf="isChangingAvatar" [ownUser]="onclickUser"
      [isChangingAvatar]="isChangingAvatar" (setSelectedAvatar)="setSelectedAvatar($event)"
      (click)="$event.stopPropagation()"></app-avatar-choice>
    <mat-card class="profil-card"
      [ngClass]="onclickUserID === ownUserID ? 'profil-card-ownUser visible' : ' profil-card-foreignUser visible'"
      (click)="$event.stopPropagation()" *ngIf="!isChangingAvatar">
      <div class="profil-card-container">
        <div class="profil-header">
          <mat-card-title>{{ profiltext }}</mat-card-title>
          <div class="close-img" (click)="closeProfil()"></div>
        </div>
        <div *ngIf="!isEditingEmail && !isEditingName">
          <div style=" display: flex; align-items: center ;justify-content: flex-end">
            <div class="edit-icon-container" *ngIf="!hideEditIconContainer">
              <div class="edit-icon" (click)="editProfil('avatar'); $event.stopPropagation()"></div>
            </div>
            <span *ngIf="onclickUserID === ownUserID" class="edit"
              (click)="editProfil('avatar'); $event.stopPropagation()">Avatar
              bearbeiten</span>
          </div>
          <div class="profil-img-container">
            <img [src]="onclickUser.avatar || 'assets/img/profile/fallback_user.png'" alt="profile image"
              class="profile-img" (error)="onclickUser.avatar = 'assets/img/profile/fallback_user.png'"
              *ngIf="onclickUser" />
          </div>
        </div>
        <ng-template [ngIf]="!( isEditingEmail || isEditingName ) && onclickUser">
          <div class="profil-name-container">
            <div class="title-container">
              <mat-card-title>{{ onclickUser.name }}</mat-card-title>
              <div class="edit-icon-container" *ngIf="!hideEditIconContainer && !(ownUser.name === 'Gast')">
                <div class="edit-icon" (click)="editProfil('name')"></div>
              </div>
              <span *ngIf="onclickUserID === ownUserID && !(ownUser.name === 'Gast')" class="edit"
                (click)="editProfil('name')">Name bearbeiten</span>
            </div>
            <div class="profil-status">
              <div class="status-indicator"
                [ngClass]="onclickUser.status === 'online' ? 'online' : onclickUser.status === 'away' ? 'away' : 'offline'">
              </div>
              <mat-card-subtitle
                [ngClass]="onclickUser.status === 'online' ? 'online' : onclickUser.status === 'away' ? 'away' : 'offline'">{{
                onclickUser.status
                }}</mat-card-subtitle>
            </div>
          </div>
          <div class="mail-container" *ngIf="!isEditingEmail">
            <div class="mail-header">
              <img src="./../../../assets/img/profilecard/mail.svg" alt="Emailimage" />
              <div style=" display: flex; align-items: center; justify-content: space-between; width: 100%">
                <mat-card-subtitle>E-Mail-Adresse</mat-card-subtitle>
                <div class="edit-icon-container" *ngIf="!hideEditIconContainer && !(ownUser.name === 'Gast')">
                  <div class="edit-icon" (click)="editProfil('email')"></div>
                </div>
                <span *ngIf="onclickUserID === ownUserID && !(ownUser.name === 'Gast')" class="edit"
                  (click)="editProfil('email')">Email
                  bearbeiten</span>
              </div>
            </div>
            <mat-card-subtitle class="mail-address">
              <a [href]="'mailto:' + onclickUser.email">{{ onclickUser.email }}</a>
            </mat-card-subtitle>
          </div>
        </ng-template>
        <ng-template [ngIf]="(isEditingName || isEditingEmail) && (onclickUserID === ownUserID)">
          <app-edit-profil [ownUser]="onclickUser" [isEditingName]="isEditingName" [isEditingEmail]="isEditingEmail"
            (closeEditProfil)="closeEditProfil($event)"></app-edit-profil>
        </ng-template>
        <ng-template [ngIf]="onclickUserID !== ownUserID">
          <div class="message-btn-container" (click)="sendMessage(onclickUserID)">
            <div class="message-btn" mat-button cdkFocusInitial>
              <img src="./../../../assets/img/profilecard/message.svg" alt="Buttonimage" />
              <span>Nachricht</span>
            </div>
          </div>
        </ng-template>
      </div>
    </mat-card>
  </div>
</div>