<mat-card>
  <div>
    <div>
      <mat-card-title>Profil</mat-card-title>
      <img src="" alt="">
    </div>

    <div>
      <img src="" alt="">
    </div>

    <div>
      <mat-card-title>Sebastian Treittinger</mat-card-title>
      <div>
        <img src="" alt="">
        <mat-card-subtitle>Aktiv</mat-card-subtitle>
      </div>
    </div>

    <div>
      <div>
        <img src="" alt="">
        <mat-card-subtitle>E-Mail-Adresse</mat-card-subtitle>
      </div>
      <mat-card-subtitle>contact&#64;sebastian-treittinger.de</mat-card-subtitle>
    </div>
    <button mat-button mat-dialog-close cdkFocusInitial>
      <img src="" alt=""> Nachricht</button>

  </div>
</mat-card>



<!-- 
<h3 mat-dialog-title>Profil</h3>
<mat-dialog-content>
  Would you like to delete cat.jpeg?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->