
<div class="header">
    <div class="profileImg">
        <img src="{{ currentChat?.imgScr }}" alt="">
        <img *ngIf="!channel && currentChat?.online" src="./assets/img/online.png" alt="" class="online"/>
        <img *ngIf="!channel && !currentChat?.online" src="./assets/img/offline.png" alt="" class="online"/>
    </div>
    <h2>{{ currentChat?.name }}</h2>
</div>





<div class="messageBox">
    <textarea placeholder="Nachricht an {{ currentChat?.name }}" name="" id=""></textarea>
    <div class="messageBoxBottom">
        <div class="iconsLeft">
            <div class="addIcon"></div>
            <div class="border"></div>
            <div class="emoji"></div>
            <div class="iconMarkUser"></div>
        </div>
        <div (click)="sendMessage()" class="sendMessage"></div>
    </div>
</div>