<form [formGroup]="editProfilForm">

  <!-- Name -->
  <div class="flex-container">
    <div class="account-circle-icon"></div>
    <span class="h2text">Vollständiger Name</span>
  </div>
  <div class="input-container" [ngClass]="{'invalid-border':
        name.invalid && (name.dirty || name.touched)
    }">
    <input type="text" formControlName="name" autocomplete="name" [placeholder]="ownUser.name" />
  </div>
  <span class="validMsg" [class.hidden]="!(name.invalid && name.touched)">
    Name muss mindestens 3 Zeichen lang sein.
  </span>

  <!-- Email -->
  <div class="flex-container email-container">
    <div class="email-icon"></div>
    <span class="h2text">E-Mail-Adresse</span>
  </div>
  <div class="input-container" [ngClass]="{
      'invalid-border': email.invalid && (email.dirty || email.touched)
    }" required>
    <input type="email" formControlName="email" [placeholder]="ownUser.email" />
  </div>
  <span class="validMsg" [class.hidden]="!(email.invalid && email.touched)">
    Bitte geben Sie eine gültige E-Mail-Adresse ein.
  </span>

  <!-- TODO: rework -->
  <!-- Save and Cancel -->
  <!-- <div class="button-container">
    <button type="button" (click)="save()">Speichern</button>
    <button type="button" (click)="cancel()">Abbrechen</button>
  </div> -->
</form>