<form [formGroup]="nameFormGroup" (ngSubmit)="onSubmitSave()" *ngIf="isEditingName">
  <div class="flex-container">
    <span class="h2text">Vollständiger Name</span>
  </div>
  <div class="input-container"
    [ngClass]="{'invalid-border': nameControls.name.invalid && (nameControls.name.dirty || nameControls.name.touched)}">
    <img src="/assets/img/front-page/person_filled.svg" alt="user icon">
    <input type="text" formControlName="name" autocomplete="name" [placeholder]="ownUser.name" />
  </div>
  <span class="validMsg" *ngIf="nameControls.name.invalid && nameControls.name.touched">
    Name muss mindestens 3 Zeichen lang sein.
  </span>
  <div class="flex-container">
    <span class="h2text">Name wiederholen</span>
  </div>
  <div class="input-container" [ngClass]="{'invalid-border': nameControls.nameRepeat.invalid}">
    <img src="/assets/img/front-page/person_filled.svg" alt="user icon">
    <input type="text" formControlName="nameRepeat" autocomplete="name" [placeholder]="ownUser.name" />
  </div>
  <span class="validMsg" *ngIf="nameControls.nameRepeat.hasError('mismatch')">
    Name stimmt nicht überein.
  </span>
  <div class="width-100">
    <div class="button-container">
      <span class="btn btn-cancel" type="button" (click)="cancel()">Abbrechen</span>
      <button class="btn btn-save" type="submit" [disabled]="nameFormGroup.invalid">Speichern</button>
    </div>
  </div>
</form>

<form [formGroup]="emailFormGroup" (ngSubmit)="onSubmitSave()" *ngIf="isEditingEmail">
  <div class="flex-container">
    <span class="h2text">E-Mail-Adresse</span>
  </div>
  <div class="input-container"
    [ngClass]="{'invalid-border': emailControls.email.invalid && (emailControls.email.dirty || emailControls.email.touched)}">
    <img src="/assets/img/front-page/mail.svg" alt="email icon">
    <input type="email" formControlName="email" [placeholder]="ownUser.email" />
  </div>
  <span class="validMsg" *ngIf="emailControls.email.invalid && emailControls.email.touched">
    Bitte geben Sie eine gültige E-Mail-Adresse ein.
  </span>

  <div class="flex-container">
    <span class="h2text">E-Mail-Adresse wiederholen</span>
  </div>
  <div class="input-container" [ngClass]="{'invalid-border': emailControls.emailRepeat.invalid}">
    <img src="/assets/img/front-page/mail.svg" alt="email icon">
    <input type="email" formControlName="emailRepeat" [placeholder]="ownUser.email" />
  </div>
  <span class="validMsg" *ngIf="emailControls.emailRepeat.hasError('mismatch')">
    E-Mail-Adresse stimmt nicht überein.
  </span>

  <div class="flex-container">
    <span class="h2text">Passwort</span>
  </div>
  <div class="input-container">
    <img src="/assets/img/front-page/lock.svg" alt="password icon">
    <input type="password" formControlName="password" autocomplete="password" placeholder="Passwort" required>
  </div>

  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <div class="width-100">
    <div class="button-container">
      <button type="button" class="btn btn-cancel" (click)="cancel()">Abbrechen</button>
      <button type="submit" class="btn btn-save" [disabled]="emailFormGroup.invalid">Speichern</button>
    </div>
  </div>
</form>