@import "./../../../../styles/front-page.scss";

.invalid-border {
  border-color: var(--error-color, rgb(255, 0, 0));
}

.flex-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.email-container {
  margin-top: 8px;
}

.account-circle-icon {
  width: 30px;
  height: 30px;
  background-image: url("./../../../../assets/img/profilecard/account_circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.email-icon {
  width: 30px;
  height: 30px;
  background-image: url("./../../../../assets/img/profilecard/mail.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.h2text {
  color: var(--black, #000);
  font-size: 20px;
  font-weight: 700;
}

.width-100 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 32px;

  .btn {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    justify-content: center;
    border-radius: 50px;
    width: fit-content;
    transition: ease-in-out 150ms;
    cursor: pointer;
  }

  .btn-cancel {
    font-size: 18px;
    font-weight: 700;
    color: var(--purple-one, rgb(68, 77, 242));
    border: 1px solid var(--purple-one, rgb(68, 77, 242));

    &:hover {
      background: var(--purple-one, rgb(68, 77, 242));
      color: var(--white, rgb(255, 255, 255));
    }
  }

  .btn-save {
    font-size: 18px;
    font-weight: 700;
    color: var(--white, rgb(255, 255, 255));
    background: var(--purple-one, rgb(68, 77, 242));
    border: none;

    &:hover {
      background: var(--purple-two, rgb(121, 126, 243));
    }
  }

  @media (max-width: 600px) {
    justify-content: space-between;
    width: 100%;
    gap: unset;
  }
}
