/* Container für das gesamte Formular und die Benutzerliste */
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Formularstil */
form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .mat-form-field {
    width: 100%;
  }

  button {
    align-self: flex-start;
  }
}

/* Stil für die Benutzerliste */
ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }

  img {
    border-radius: 50%;
    margin-right: 20px;
  }

  .user-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .actions {
    display: flex;
    gap: 10px;
  }

}

/* Abschnittsüberschriften */
h2 {
  margin-bottom: 20px;
}
