@import './../../../../styles.scss';

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-card {
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

mat-card-title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: $purple-one;
    margin-bottom: 8px;
}

mat-card-subtitle {
    text-align: center;
    font-size: 12px;
    margin-bottom: 8px;
    color: #757575;
}

form {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.password-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;

    >a {
        text-decoration: none;
    }
}

.forgot-password {
    display: block;
    font-size: 12px;
    color: $purple-two;
}

.login-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    >button {
        font-size: 14px;
        font-weight: 700;
        line-height: 24.55px;
        text-align: left;
    }
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
    color: black;

    .line {
        flex: 1;
        height: 1px;
        background-color: #ADB0D9;
        margin: 0 8px;
    }

    >span {
        font-size: 14px;
    }
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 45px;
    height: 41px;
    border: none;
    margin-bottom: 16px;
    background-color: $light-purple;
    transition: border 0.3s ease, background-color 0.3s ease;

    >a {
        color: $purple-one;
        text-decoration: none;
    }

    &:hover {
        border: 1px solid $purple-one;
        font-weight: 700;
    }
}

.google-icon {
    width: 25px;
    height: 25px;
}

.sign-in-button,
.guest-login-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 45px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-in-button {
    background-color: $purple-one;
    color: white;
    border: none;

    &:hover {
        background-color: $purple-two;
    }
}

.guest-login-button {
    background-color: transparent;
    color: $purple-one;
    border: 1px solid $purple-one;

    &:hover {
        background-color: $purple-three;
        color: #ECEEFE;
    }
}


.guest-login-button,
.sign-up-button {
    border: 1px solid $purple-one;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #f0f0ff;
    border-radius: 25px;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid transparent;
    height: 41px;

    &:hover {
        border: 1px solid $purple-one;
    }

    >input {
        width: 155px;
    }
}

.input-container img {
    margin-right: 16px;
}

.input-container input {
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -50%);
    gap: 12px;
    bottom: -20px;
}

.sign-up-button {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: bold;
    color: $purple-one;
    background-color: $light-purple;
    border: 1px solid $purple-one;
    border-radius: 45px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $purple-one;
        color: white;
    }
}

@media (min-width: 1200px) {

    .login-card {
        padding: 40px;
        display: flex;
    }

    mat-card-title {
        font-size: 34px;
    }

    mat-card-subtitle {
        font-size: 20px;
        font-weight: 400;
    }

    .input-container input,
    .forgot-password,
    .or-divider>span,
    .google-login>a,
    .login-actions>button {
        font-size: 18px;
    }

    .input-container,
    .google-login {
        height: 55px;
    }

    .sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        gap: 0px;
        left: unset;
        bottom: unset;
        transform: unset;


        >span {
            padding-right: 30px;
            font-size: 18px;
        }
    }


    .sign-up-button {
        padding: 8px 16px;
        border: 1px solid transparent;
        font-weight: 400;
        font-size: 18px;

        &:hover {
            background-color: transparent;
            border: 1px solid #686868;
            color: $purple-one;
        }
    }
}

@media (min-width: 500px){

    mat-card-title {
        font-size: 28px;
    }

    mat-card-subtitle {
        font-size: 20px;
        font-weight: 400;
    }

    .input-container,
    .google-login {
        height: 48px;
    }
    
    .login-card {
        gap:12px;
    }
    .input-container input,
    .forgot-password,
    .or-divider>span,
    .google-login>a,
    .login-actions>button {
        font-size: 18px;
    }
}