<mat-card class="login-card centered">
    <mat-card-title>Anmeldung</mat-card-title>
    <mat-card-subtitle>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.</mat-card-subtitle>

    <div class="input-container">
        <img src="/assets/img/front-page/mail.svg" alt="email icon">
        <input type="email" placeholder="beispielname@email.com">
    </div>
    <div class="input-container">
        <img src="/assets/img/front-page/lock.svg" alt="password icon">
        <input type="password" placeholder="Passwort">
    </div>

    <div class="password-container">
        <a href="#" class="forgot-password">Passwort vergessen?</a>
    </div>

    <div class="or-divider">
        <div class="line"></div>
        <span>ODER</span>
        <div class="line"></div>
    </div>

    <button class="google-login ">
        <img src="/assets/img/front-page/Google.svg" alt="Google Logo" class="google-icon">
        <a href="">Anmelden mit Google</a>
    </button>

    <div class="login-actions">
        <button routerLink="main" class="sign-in-button">Anmelden</button>
        <button routerLink="main" class="guest-login-button">Gäste-Login</button>
    </div>
</mat-card>