@import "./../../../styles.scss";
@import "./../../../styles/front-page.scss";

.prio-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

mat-card-subtitle {
    color: black;
}

.reset-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(104, 104, 104, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .reset-info {
        font-size: 18px;
    }
}

@media (min-width: 501px) {
    mat-card-title {
        font-size: 26px;
    }

    mat-card-subtitle {
        font-size: 20px;
        font-weight: 400;
    }

    .input-container,
    .google-login {
        height: 48px;
    }

    .login-card {
        gap: 12px;
        max-width: 450px;
    }

    .break-word {
        display: inline;
    }
}

@media (max-width: 500px) {
    .input-container > img,
    .checkbox > img {
        width: 20px;
    }

    .validMsg {
        height: 10px;
    }

    .reset-info {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .break-word {
        display: block;
    }
}
