<mat-card class="login-card centered">
  <div class="arrow-back position-relative">
    <div routerLink="" class="arrow-back-img"></div>
  </div>
  <mat-card-title>Passwort <span class="break-word">zurücksetzen</span></mat-card-title>
  <mat-card-subtitle>Bitte geben Sie Ihre E-Mail Adresse ein.</mat-card-subtitle>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <img src="/assets/img/front-page/mail.svg" alt="email icon">
      <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" formControlName="email" placeholder="beispielname@email.com">
    </div>
    <span class="validMsg" *ngIf="email.invalid && (email.dirty || email.touched) && email.value">
      Bitte geben Sie eine gültige E-Mail-Adresse ein.
    </span>
    <p class="reset-info">
      Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
    </p>
    <div class="login-actions jc-end">
      <button type="submit" class="prio-button" [disabled]="resetPasswordForm.invalid">E-Mail senden</button>
    </div>
  </form>
</mat-card>