<div *ngIf="channel" class="modal-container">
  <div class="modal-background" (click)="closePopup($event)"></div>
  <div *ngIf="channel" class="channel-popup" (click)="$event.stopPropagation()"
    [style.display]="showChannelPopup ? 'block' : 'none'">
    <div class="popup-header">
      <h2>
        <img src="../../../assets/img/chatChannel/tag.svg" /> {{ channel.name }}
      </h2>
      <button (click)="closePopup($event)" class="close-button"></button>
    </div>
    <div class="popup-body">
      <div [ngClass]="{ 'channel-name': true, 'no-padding-border': isEditingName }">
        <div class="popup-headline">
          <h3>Channel Name</h3>
          <button *ngIf="!isEditingName" class="edit-button" (click)="startEditingName()">
            Bearbeiten
          </button>
          <button *ngIf="isEditingName" class="edit-button" (click)="saveName()" [disabled]="!isNameValid()">
            Speichern
          </button>
        </div>
        <div class="popup-text">
          <p *ngIf="!isEditingName">
            <img src="../../../assets/img/chatChannel/tag.svg" />
            {{ channel.name }}
          </p>
          <div *ngIf="isEditingName" class="input-container">
            <input [(ngModel)]="editedName" class="edit-input with-hashtag" maxlength="17" required />
            <div *ngIf="editedName.length > 17" class="error-message">
              Der Channelname darf maximal 17 Zeichen lang sein.
            </div>
            <div *ngIf="nameErrorMessage" class="error-message">
              {{ nameErrorMessage }}
            </div>
          </div>
        </div>
      </div>

      <div [ngClass]="{
          'channel-info': true,
          'no-padding-border': isEditingDescription
        }">
        <div class="popup-headline">
          <h3>Beschreibung</h3>
          <button *ngIf="!isEditingDescription" class="edit-button" (click)="startEditingDescription()">
            Bearbeiten
          </button>
          <button *ngIf="isEditingDescription" class="edit-button" (click)="saveDescription()">
            Speichern
          </button>
        </div>
        <div class="popup-text">
          <p *ngIf="!isEditingDescription">{{ channel.description }}</p>
          <input *ngIf="isEditingDescription" [(ngModel)]="editedDescription" class="edit-input"
            placeholder="Dein Text hier" />
        </div>

        <div class="divider"></div>
        <div class="createdBy-info">
          <h3>Erstellt von</h3>
          <p class="createdBy">{{ createdByName }}</p>
        </div>
      </div>

      <div class="channel-members">
        <h3>Mitglieder</h3>
        <div class="members-list">
          <ng-container *ngFor="
              let user of usersOfSelectedChannel;
              let i = index;
              trackBy: trackByUserId
            ">
            <div class="channel-member" (click)="openProfile(user)">
              <div class="avatar-container">
                <img [src]="user.avatar" alt="user" (error)="user.avatar = 'assets/img/profile/fallback_user.png'" />
                <div *ngIf="user.status === 'online'" class="status-indicator online"></div>
                <div *ngIf="user.status === 'away'" class="status-indicator away"></div>
                <div *ngIf="user.status === 'offline'" class="status-indicator offline"></div>
              </div>
              <span>
                {{ user.name }}
                <span *ngIf="user.userId === currentUserId">(Du)</span>
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="leave-container">
      <button class="leave-button" (click)="leaveChannel()">
        Channel verlassen
      </button>
    </div>
  </div>
  <app-profil *ngIf="selectedUser" [onclickUser]="selectedUser" [hideEditIconContainer]="true"
    (closeProfileCard)="closeProfileCard()"></app-profil>
</div>
