.channel-popup {
  position: absolute;
  top: 60px;
  left: 60px;
  background-color: var(--white);
  padding: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 700px;
  min-height: fit-content;
  z-index: 1000;
  cursor: default;

  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;

    h2 {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 24px;
      font-weight: 700;
      color: var(--black);
      margin: 0;
    }

    .close-button {
      background: none;
      border: none;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      color: var(--black);
      width: 35px;
      height: 35px;
      border-radius: 35px;
      background-image: url('../../../assets/img/chatChannel/close.svg');
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        background-color: var(--light-purple);
        background-size: 45px;
        background-image: url('../../../assets/img/chatChannel/close_hover.svg');
        ;
      }
    }
  }

  .popup-body {
    margin-top: 20px;

    .channel-name,
    .channel-info {
      border: 1px solid var(--divider-purple);
      border-radius: 15px;
      padding: 16px;
      margin-bottom: 20px;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 12px;
      width: 100%;
      transition: padding 225ms ease, border 225ms ease;

      .popup-headline {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      h3 {
        display: block;
        font-weight: bold;
        color: var(--black);
        margin-bottom: 5px;
        font-size: 20px;
      }

      p {
        color: var(--black);
        font-size: 16px;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .popup-text {
        width: 100%;
        display: flex;
        justify-content: start;
      }

      .edit-button {
        font-size: 16px;
        font-weight: 500;
        color: var(--purple-one);
        text-decoration: none;
        cursor: pointer;
        background-color: transparent;
        border: none;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  .divider {
    width: 100%;
    border-bottom: 1px solid var(--divider-purple);
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .createdBy-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .createdBy {
    font-size: 16px;
    color: var(--purple-one) !important;
  }


  .leave-container {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
  }

  .leave-button {
    display: block;
    background-color: var(--purple-one);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 12px 16px;

    &:hover {
      background-color: var(--purple-two);
    }
  }
}

.no-padding-border {
  padding: 8px !important;
  border: none !important;
}

.edit-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid var(--divider-purple);
  border-radius: 25px;
  outline: none;
  transition: border-color 225ms ease;
  color: var(--black);
  background-color: var(--white);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

.edit-input:focus {
  border-color: var(--purple-two);
  background-color: var(--white);
}

.edit-input::placeholder {
  color: var(--text-grey);
  font-weight: 400;
}

.edit-button {
  background: none;
  border: none;
  color: var(--purple-one);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

.edit-button:hover {
  font-weight: 700;
}

.input-container {
  position: relative;
  width: 100%;
}

.with-hashtag {
  padding-left: 36px;
  background-image: url('../../../assets/img/chatChannel/tag.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
  box-sizing: border-box;
}

.modal-container {
  position: relative;
}

.error-message {
  color: var(--error-color);
  font-size: 14px;
  margin-left: 12px;
  margin-top: 8px;
}