<div class="wrapper" *ngIf="currentChat">
  <div class="header">
    <div class="profileImg">
      <img *ngIf="isChatUserProfile(currentChat)" src="{{ currentChat.imgScr }}" alt="">
      <img *ngIf="isChatUserProfile(currentChat) && currentChat.online" src="./assets/img/online.png" alt="" class="online"/>
      <img *ngIf="isChatUserProfile(currentChat) && !currentChat.online" src="./assets/img/offline.png" alt="" class="online"/>
    </div>
    <h2>{{ currentChat.name }}</h2>
  </div>

  <div class="chat-container" #chatContainer>
    <div *ngFor="let message of messages; let i = index">
      <div *ngIf="isNewDay(message.timestamp, i)" class="date-divider">
        <span class="date">{{ convertToDate(message.timestamp) | date: 'fullDate' }}</span>
      </div>

      <div class="singelMessageContainer" [ngClass]="{'message-left': message.senderId !== currentChat.name, 'message-right': message.senderId === currentChat.name}">
        <div class="message-header">
          <span class="timestamp">{{ convertToDate(message.timestamp) | date: 'shortTime' }}</span>
          <span class="name">{{ message.senderId }}</span>
        </div>

        <div class="message-content">
          <p>{{ message.content }}</p>
        </div>

        <img *ngIf="isChatUserProfile(currentChat)" [src]="currentChat.imgScr" alt="{{ message.senderId }}" class="profile-img">
      </div>
    </div>
  </div>

  <div class="messageBox">
    <textarea [(ngModel)]="newMessageText" placeholder="Nachricht an {{ currentChat.name }}"></textarea>
    <div class="messageBoxBottom">
      <div class="iconsLeft">
        <div class="addIcon"></div>
        <div class="border"></div>
        <div class="emoji"></div>
        <div class="iconMarkUser"></div>
      </div>
      <div (click)="sendMessage()" class="sendMessage"></div>
    </div>
  </div>
</div>
