<div *ngIf="!selectedChat" class="newMessageChatContainer">
  <div class="header column">
    <h2>Neue Nachricht</h2>
    <input type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse">
  </div>

  <div class="messageBox absolute-bottom">
    <textarea [(ngModel)]="newMessageText" placeholder="Starte eine neue Nachricht"></textarea>
    <div class="messageBoxBottom">
      <div class="iconsLeft">
        <div class="addIcon"></div>
        <div class="border"></div>
        <div class="emoji"></div>
        <div class="iconMarkUser"></div>
      </div>
      <div (click)="sendMessage()" class="sendMessage"></div>
    </div>
  </div>
</div>

<div class="wrapper" *ngIf="currentChat && selectedChat">
  <div class="header">
    <div class="profileImg">
      <img *ngIf="isChatUserProfile(currentChat)" src="{{ currentChat.imgScr }}" alt="">
      <img *ngIf="isChatUserProfile(currentChat) && currentChat.online" src="./assets/img/online.png" alt="" class="online"/>
      <img *ngIf="isChatUserProfile(currentChat) && !currentChat.online" src="./assets/img/offline.png" alt="" class="online"/>
    </div>
    <h2>{{ currentChat.name }}</h2>
  </div>

  <div class="chat-container" #chatContainer>
    <ng-container *ngIf="selectedChat">
      <div *ngFor="let message of messages; let i = index">
        <div *ngIf="isNewDay(message.timestamp, i)" class="date-divider">
          <span class="date">{{ convertToDate(message.timestamp) | date: 'fullDate' }}</span>
        </div>

        <app-message 
          *ngIf="userProfiles[message.senderId]"
          [message]="message" 
          [userProfile]="userProfiles[message.senderId]" 
          [isCurrentUser]="message.senderId === currentUserId"
          (messageClicked)="openThread($event)">
        </app-message>
      </div>
    </ng-container>
  </div>

  <div class="messageBox">
    <textarea [(ngModel)]="newMessageText" placeholder="Nachricht an {{ currentChat.name }}"></textarea>
    <div class="messageBoxBottom">
      <div class="iconsLeft">
        <div class="addIcon"></div>
        <div class="border"></div>
        <div class="emoji"></div>
        <div class="iconMarkUser"></div>
      </div>
      <div (click)="sendMessage()" class="sendMessage"></div>
    </div>
  </div>
</div>
