<div *ngIf="!selectedChat" class="newMessageChatContainer">
  <div class="header column">
    <h2>Neue Nachricht</h2>
    <input type="text" (keyup)="onKeyUp($event)" placeholder="An: #channel, oder @jemand oder E-Mail Adresse">
    <ul *ngIf="filteredChannels.length > 0">
      <li *ngFor="let channel of filteredChannels">{{ channel.name }}</li>
    </ul>
    <ul *ngIf="filteredPuplicChannels.length > 0">
      <li *ngFor="let channel of filteredPuplicChannels">{{ channel.name }}</li>
    </ul>
  </div>
  <div class="messageBox absolute-bottom">
    <textarea [(ngModel)]="newMessageText" placeholder="Starte eine neue Nachricht"
      (keydown.enter)="sendMessage($event)"></textarea>
    <div class="messageBoxBottom">
      <div class="iconsLeft">
        <div class="addIcon"></div>
        <div class="border"></div>
        <div class="emoji"></div>
        <div class="iconMarkUser"></div>
      </div>
      <div (click)="sendMessage()" class="sendMessage"></div>
    </div>
  </div>
</div>
<div class="wrapper" *ngIf="currentChat && selectedChat">
  <div class="header">
    <div class="profileImg">
      <img *ngIf="isChatUserProfile(currentChat)" src="{{ currentChat.avatar }}" alt="">
      <img *ngIf="isChatUserProfile(currentChat) && currentChat.status === 'online' " src="./assets/img/online.png"
        alt="" class="online" />
      <img *ngIf="isChatUserProfile(currentChat) && currentChat.status === 'offline'" src="./assets/img/offline.png"
        alt="" class="online" />
    </div>


    <div class="header-title">
      <div class="header-channel-name" (click)="openChannelInfoPopup()">
        <img src="../../../assets/img/chatChannel/tag.svg">
        <h2 >{{ currentChat.name }}</h2>
        <img src="../assets/img/chatChannel/keyboard_arrow_down.svg" alt="open channel info">
      </div>

      <div class="header-channel-info">
        <div>
          <img src="../assets/img/chatChannel/add_members_button.svg" alt="add user">
        </div>
      </div>
    </div>


  </div>
  <div class="chat-container" #chatContainer>
    <div class="spinner" *ngIf="this.isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngIf="selectedChat && !this.isLoading">
      <div *ngFor="let message of messages; let i = index">
        <div *ngIf="isNewDay(message.timestamp, i)" class="date-divider">
          <span class="date">{{ convertToDate(message.timestamp) | date: 'fullDate' : '' : 'de' }}</span>
        </div>

        <app-message *ngIf="userProfiles[message.senderId]" [message]="message"
          [userProfile]="userProfiles[message.senderId]" [isCurrentUser]="message.senderId === currentUserId"
          (messageClicked)="openThread($event)"
          [isCurrentChatPrivate]="isCurrentChatPrivate"
          >
        </app-message>
      </div>
    </ng-container>
  </div>


  <!-- Vorschau des Anhangs -->
  <div *ngIf="previewUrl || attachmentUrl" class="preview-container">
    <div class="preview-image-wrapper" *ngIf="attachmentUrl; else localPreview">
      <img [src]="attachmentUrl" alt="Anhang Vorschau" class="attachment-preview" />
      <span *ngIf="attachmentUrl.endsWith('.pdf')">
        <a [href]="attachmentUrl" target="_blank">PDF Vorschau ansehen</a>
      </span>
      <img src="../../assets/img/icons/trash.svg" alt="Löschen" class="delete-icon" (click)="removePreview()" />
    </div>
    <ng-template #localPreview>
      <div class="preview-image-wrapper" *ngIf="previewUrl">
        <img [src]="previewUrl" alt="Anhang Vorschau" class="attachment-preview" />
        <img src="../../assets/img/icons/trash.svg" alt="Löschen" class="delete-icon" (click)="removePreview()" />
      </div>
    </ng-template>
  </div>



  <div class="messageBox">
    <textarea [(ngModel)]="newMessageText" placeholder="Nachricht an {{ currentChat.name }}"
      (keydown.enter)="sendMessage($event)"></textarea>



    <div class="messageBoxBottom">
      <div class="iconsLeft">
        <div class="addIcon" (click)="openFileDialog()"></div>
        <input type="file" #fileInput (change)="handleFileInput($event)" style="display: none;" />
        <div class="border"></div>
        <div class="emoji"></div>
        <div class="iconMarkUser"></div>
      </div>
      <div (click)="sendMessage()" class="sendMessage"></div>
    </div>
  </div>
</div>


<app-channel-info-popup *ngIf="selectedChannel" [channel]="selectedChannel"
  (click)="closeChannelInfoPopup()"></app-channel-info-popup>
