<div class="channel-dropdown">
    <div class="channel-dropdown-content">
      <ul>
        <li *ngIf="filteredChannels.length === 0" class="no-results">
          Keine Resultate für: "<span class="searchTermText">{{ searchTerm }}</span>"
        </li>
        <li #channelItem *ngFor="let channel of filteredChannels; let i = index"
            (click)="selectChannel(channel)"
            [ngClass]="{'selected': selectedIndex === i}">
          <img src="../../../assets/img/chatChannel/tag.svg" alt="{{ channel.name }}" />
          <span>{{ channel.name }}</span>
        </li>
      </ul>
    </div>
  </div>
