.channel-dropdown {
    position: absolute;
    bottom: 190px;
    left: 0px;
    background-color: #fff;
    border: 1px solid rgb(161, 165, 248);
    width: 300px;
    z-index: 1000;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;

    .channel-dropdown-content {
        max-height: 250px;
        overflow-y: auto;
        padding: 8px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative;

            &:hover,
            &.selected {
                border-radius: 30px;
                background-color: #eceefe;
            }

            img {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }

            span {
                flex-grow: 1;
                font-size: 16px;
            }
        }
    }
}

.no-results {
    padding: 12px;
    font-size: 16px;
    text-align: center;
    display: block!important;

    .searchTermText {
      font-weight: 600;
      color: red;
      font-style: italic;
    }
}

@media(max-width:600px) {
    .channel-dropdown {
        bottom: 130px;
    }
}
