<header>
  <div class="max-width">
    <a [routerLink]="['main']" (click)="logout()"><img src="./assets/img/logo.svg" alt="" class="logo" /></a>

    <div class="searchbar">
      <input type="text" placeholder="Durchsuchen" />
      <mat-icon matSuffix>search</mat-icon>
    </div>

    <div class="profile" mat-button cdkFocusInitial (click)="openMenu()">
      <h2>{{ currentUser.name }}</h2>
      <div class="profil-img-div">
        <img src="{{ currentUser.avatar }}" alt="" class="profile-img" />
        <!-- Status icons -->
        <div *ngIf="currentUser.status === 'online'" class="status-indicator online"></div>
        <div *ngIf="currentUser.status === 'away'" class="status-indicator away"></div>
        <div *ngIf="currentUser.status === 'offline'" class="status-indicator offline"></div>
      </div>
      <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
    </div>
  </div>
</header>

<!-- Menucard -->
<app-menu (closeMenu)="closeMenu()" (openProfile)="openProfil(currentUser)" *ngIf="isMenuOpen"></app-menu>

<!-- Profilcard -->
<app-profil [onclickUser]="currentUser" (closeProfileCard)="closeProfil()" *ngIf="isProfilOpen"></app-profil>
