<header>
  <div class="max-width">
    <a [routerLink]="['start']"><img src="./assets/img/logo.svg" alt="" class="logo" /></a>

    <div class="searchbar">
      <input type="text" placeholder="Durchsuchen" />
      <mat-icon matSuffix>search</mat-icon>
    </div>

    <div class="profile" mat-button cdkFocusInitial (click)="openMenu()">
      <h2>{{ currentUser.name }}</h2>
      <div class="profil-img-div">
        <img src="{{ currentUser.avatar }}" alt="" class="profile-img" />
        <img *ngIf="currentUser.status === 'online'" src="./assets/img/online.png" alt="" class="online" />
        <img *ngIf="currentUser.status === 'offline'" src="./assets/img/offline.png" alt="" class="online" />
      </div>
      <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
    </div>
  </div>
</header>

<!-- Menucard -->
<app-menu (closeMenu)="closeMenu()" (openProfile)="openProfil(currentUser)" *ngIf="isMenuOpen"></app-menu>

<!-- Profilcard -->
<app-profil [ownUser]="currentUser" (closeProfileCard)="closeProfil()" *ngIf="isProfilOpen"></app-profil>