<div class="modal-background" (click)="close()">
  <div class="max-width">
    <div class="menu-container" (click)="$event.stopPropagation()">
      <div class="profil-btn" mat-button cdkFocusInitial (click)="openProfilContent()">
        <span>Profil</span>
      </div>
      <div class="logout-btn" mat-button cdkFocusInitial (click)="logout()" [routerLink]="['start']">
        <span>Log out</span>
      </div>
    </div>
    <div class="mobile-menu-container" (click)="$event.stopPropagation()"
      [ngClass]="isMenuOpen ? 'slideIn' : 'slideOut'">
      <div style="display: flex; justify-content: center" (click)="close()">
        <div class="rectangle"></div>
      </div>
      <div class="mobile-profil-btn" mat-button cdkFocusInitial (click)="openProfilContent()">
        <div class="mobile-profil-icon"></div>
        <span>Profil</span>
      </div>
      <div class="mobile-logout-btn" mat-button cdkFocusInitial (click)="logout()" [routerLink]="['login']">
        <div class="mobile-logout-icon"></div>
        <span>Log out</span>
      </div>
    </div>
  </div>
</div>