@import "./../../../../styles/mixins.scss";

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.max-width {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  position: relative;
}

.menu-container {
  display: inline-flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 30px 0px 30px 30px;
  background: var(--White, #fff);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 123px;
  right: 8px;

  .profil-btn,
  .logout-btn {
    width: 222px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--black, rgb(0, 0, 0));
    cursor: pointer;

    &:hover {
      @include btn-hover();
      padding: 8px;
    }
  }
}
