@import "./../../../styles.scss";

.gap32 {
    gap: 32px;
}

.gap16 {
    display: grid;
    gap: 16px;
}

.position-relative {
    position: relative;
}

mat-card-title, mat-card-subtitle {
    text-align: left;
    margin: 0;
}