:root {
  --main-background: rgb(235, 239, 254);
  --away-orange: rgb(255, 193, 7);
  --error-color: rgb(255, 0, 0);
  --success-color: rgb(0, 255, 0);
  --purple-one: rgb(68, 77, 242);
  --purple-two: rgb(121, 126, 243);
  --purple-three: rgb(83, 90, 241);
  --light-purple: rgb(236, 238, 254);
  --shadow: rgba(0, 0, 0, 0.1);
  --bg-color: rgb(255, 255, 255);
  --ligth-purple-lines: rgb(173, 176, 217);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --online-green: rgb(146, 200, 62);
  --mail-address: rgb(19, 129, 255);
  --divider-purple: rgba(173, 176, 217, 1);
  --text-grey: rgba(104, 104, 104, 1);
  --disabled-text: rgb(102, 102, 102);
  --disabled-background: rgb(204, 204, 204);
}
