:root {
  --main-background: rgb(235, 239, 254);
  --error-color: rgb(255, 0, 0);
  --purple-one: #444df2;
  --purple-two: #797ef3;
  --purple-three: #535af1;
  --light-purple: #eceefe;
  --shadow: rgba(0, 0, 0, 0.1);
  --bg-color: #FFFFFF;
  --ligth-purple-lines:#ADB0D9;
  --white: #FFFFFF;
  --black: #000000;
}
