.invalid-border {
  border-color: var(--error-color, rgb(255, 0, 0));
}

.validMsg {
  color: var(--error-color, rgb(255, 0, 0));
  font-size: 12px;
  height: 16px;
  margin-bottom: 8px;
  padding-left: 16px;
  display: block;
}

.validMsg.hidden {
  visibility: hidden;
}

mat-card-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--purple-one);
  margin-bottom: 8px;
}

mat-card-subtitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--black, #000000);
}

.login-card {
  width: 450px;
  margin: auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 6px var(--shadow, rgba(0, 0, 0, 0.1));
}

.login-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;

  >button {
    font-size: 14px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
  }
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
  color: var(--black, #000000);

  .line {
    flex: 1;
    height: 1px;
    background-color: var(--ligth-purple-lines);
    margin: 0 8px;
  }

  >span {
    font-size: 14px;
  }
}

.input-container {
  display: flex;
  align-items: center;
  background-color: var(--light-purple);
  border-radius: 25px;
  padding: 8px 20px;
  margin: 8px 0;
  border: 1px solid transparent;
  height: 41px;

  &:hover {
    border: 1px solid var(--purple-one);
  }

  >input {
    width: 155px;
  }
}

.input-container img {
  margin-right: 16px;
}

.input-container input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
}

.arrow-back {
  position: absolute;
  margin-top: -4px;

  .arrow-back-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url(../assets/img/front-page/arrow_back.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      border-radius: 50px;
      background: var(--light-purple);
      background-image: url(../assets/img/front-page/arrow_back_hover.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.prio-button,
.alt-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 45px;
  cursor: pointer;
  text-align: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border: 1px solid var(--purple-one);
}

.prio-button {
  background-color: var(--purple-one);
  color: var(--white, #ffffff);
  border: none;

  &:hover {
    background-color: var(--purple-two);
  }
}

.prio-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.alt-button {
  background-color: transparent;
  color: var(--purple-one);
  border: 1px solid var(--purple-one);

  &:hover {
    background-color: var(--purple-three);
    color: var(--white, #ffffff);
  }
}

@media (min-width: 1200px) {
  .login-card {
    display: flex;
  }

  mat-card-title {
    font-size: 34px;
  }

  mat-card-subtitle {
    font-size: 20px;
    font-weight: 400;
  }

  .input-container input,
  .forgot-password,
  .or-divider>span,
  .google-login>a,
  .login-actions>button,
  .checkbox>span,
  .checkbox>span>a {
    font-size: 18px !important;
  }

  .input-container,
  .google-login {
    height: 55px;
  }
}

::ng-deep .mat-dialog-container {
  border-radius: 30px !important;
  overflow: hidden !important;
}

@media (max-width: 700px) {
  .login-card {
    width: 350px;
  }
}

@media (max-width: 500px) {
  .login-card {
    width: 350px;
    padding: 16px;
  }

  .validMsg {
    font-size: 11px;
  }

  .arrow-back {
    >img {
      width: 25px;
      cursor: pointer;
    }
  }
}

@media (max-width: 400px) {
  .login-card {
    width: 300px;
  }
}