<div class="header">
  <div class="headline">
    <h2>Thread</h2>
    <img class="profileImg" src="" alt="">
    <p>{{ currentChat?.name }}</p>
  </div>
  <div (click)="onCloseThread()" class="close"></div>
</div>

<div class="chat-container" #chatContainer>

  <!-- Original message, to which the thread belongs -->
  <div *ngIf="currentMessageToOpen" class="singelMessageContainer"
    [ngClass]="{'message-right': currentMessageToOpen.senderId !== currentUserId, 'message-left': currentMessageToOpen.senderId === currentUserId}">
    <img *ngIf="userProfiles[currentMessageToOpen.senderId]?.avatar"
      [src]="userProfiles[currentMessageToOpen.senderId].avatar" alt="{{ getUserName(currentMessageToOpen.senderId) }}"
      class="profile-img" />
    <div class="message-wrapper"
      [ngClass]="{'align-end': currentMessageToOpen.senderId === currentUserId, 'align-start': currentMessageToOpen.senderId !== currentUserId}">
      <div class="message-header"
        [ngClass]="{'jc-end': currentMessageToOpen.senderId === currentUserId, 'jc-start': currentMessageToOpen.senderId !== currentUserId}">
        <ng-container *ngIf="currentMessageToOpen.senderId === currentUserId; else otherUserHeader">
          <span class="timestamp">{{ convertToDate(currentMessageToOpen.timestamp) | date : 'HH:mm' }} Uhr</span>
          <span class="name">{{ getUserName(currentMessageToOpen.senderId) }}</span>
        </ng-container>
        <ng-template #otherUserHeader>
          <span class="name">{{ getUserName(currentMessageToOpen.senderId) }}</span>
          <span class="timestamp">{{ convertToDate(currentMessageToOpen.timestamp) | date : 'HH:mm' }} Uhr</span>
        </ng-template>
      </div>
      <div class="message-content">
        <p>{{ currentMessageToOpen.content }}</p>
      </div>
    </div>
  </div>

  <!-- Divider for replies count -->
  <div *ngIf="totalReplies > 0" class="reply-divider">
    <span class="replies-count">{{ totalReplies }} Antworten</span>
  </div>

  <!-- Thread replies -->
  <div *ngFor="let message of messages; let i = index" class="singelMessageContainer"
    [ngClass]="{'message-right': message.senderId !== currentUserId, 'message-left': message.senderId === currentUserId}">
    <img *ngIf="userProfiles[message.senderId]?.avatar" [src]="userProfiles[message.senderId].avatar"
      alt="{{ userProfiles[message.senderId].name }}" class="profile-img" />
    <div class="message-wrapper"
      [ngClass]="{'align-end': message.senderId === currentUserId, 'align-start': message.senderId !== currentUserId}">
      <div class="message-header">
        <ng-container *ngIf="message.senderId === currentUserId; else otherUserHeader">
          <span class="timestamp">{{ convertToDate(message.timestamp) | date : 'HH:mm' }} Uhr</span>
          <span class="name">{{ getUserName(message.senderId) }}</span>
        </ng-container>
        <ng-template #otherUserHeader>
          <span class="name">{{ getUserName(message.senderId) }}</span>
          <span class="timestamp">{{ convertToDate(message.timestamp) | date : 'HH:mm' }} Uhr</span>
        </ng-template>
      </div>
      <div class="message-content">
        <p>{{ message.content }}</p>
      </div>
    </div>
  </div>

  <div class="messageBox">
    <textarea [(ngModel)]="newMessageText" 
              placeholder="Nachricht an {{ currentChat?.name }}" 
              (keydown.enter)="sendMessage($event)" 
              name="" id="">
    </textarea>
    <div class="messageBoxBottom">
      <div class="iconsLeft">
        <div class="addIcon"></div>
        <div class="border"></div>
        <div class="emoji"></div>
        <div class="iconMarkUser"></div>
      </div>
      <div (click)="sendMessage()" class="sendMessage"></div>
    </div>
  </div>
  