@import "./../../../styles.scss";
@import "./../../../styles/front-page.scss";

.prio-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.login-card {
    max-width: 400px;
}

.prio-button {
    margin-top: 20px;
}

@media (min-width: 501px) {
    mat-card-title {
        font-size: 26px;
    }

    mat-card-subtitle {
        font-size: 20px;
        font-weight: 400;
    }

    .input-container,
    .google-login {
        height: 48px;
    }

    .login-card {
        gap: 12px;
        max-width: 450px;
    }

    .break-word {
        display: inline;
    }
}

@media (max-width: 500px) {
    .validMsg {
        height: 10px;
    }

    .reset-info {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .break-word {
        display: block;
    }
}
