<mat-card class="login-card centered">
    <div class="arrow-back position-relative">
        <div routerLink="" class="arrow-back-img"></div>
    </div>
    <mat-card-title>Passwort <span class="break-word">zurücksetzen</span></mat-card-title>
    <mat-card-subtitle>Bitte geben Sie Ihre E-Mail Adresse ein.</mat-card-subtitle>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <input type="password" formControlName="newPassword" placeholder="Neues Passwort">
        </div>
        <span class="validMsg" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
            <span *ngIf="newPassword.errors?.['required']">Das Passwort ist erforderlich.</span>
            <span *ngIf="newPassword.errors?.['minlength']">Das Passwort muss mindestens 8 Zeichen lang sein.</span>
        </span>
        <div class="input-container">
            <input type="password" formControlName="confirmPassword" placeholder="Passwort bestätigen">
        </div>
        <span class="validMsg" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
            <span *ngIf="confirmPassword.errors?.['required']">Das Passwort ist erforderlich.</span>
            <span *ngIf="confirmPassword.errors?.['passwordMismatch']">Die Passwörter stimmen nicht überein.</span>
        </span>
        <div class="login-actions jc-end">
            <button type="submit" class="prio-button" [disabled]="changePasswordForm.invalid">Passwort ändern</button>
        </div>
    </form>
</mat-card>
