@import "./../../../styles.scss";
@import "./../../../styles/front-page.scss";

.invalid-border {
    border-color: var(--error-color, rgb(255, 0, 0));
}

.prio-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding-left: 20px;
    margin: 10px 0px;

    > img {
        cursor: pointer;
    }

    > span {
        font-size: 13px;

        > a {
            color: var(--purple-one);
            text-decoration: none;

            &:hover {
                color: var(--purple-two);
            }
        }
    }
}

@media (min-width: 1200px) {
    .checkbox {
        > span {
            font-size: 18px;
        }
    }
}

@media (min-width: 500px) {
    mat-card-title {
        font-size: 28px;
    }

    mat-card-subtitle {
        font-size: 20px;
        font-weight: 400;
    }

    .input-container,
    .google-login {
        height: 48px;
    }

    .login-card {
        gap: 12px;
    }
}

@media (max-width: 500px) {
    .input-container > img,
    .checkbox > img {
        width: 20px;
    }

    .validMsg {
        height: 10px;
    }
}
