@import './../../styles.scss';
@import '../../styles/front-page.scss';

header {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp-logo {
    display: flex;
    top: 7% !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    >img {
        cursor: pointer;
        width: 150px;
        object-fit: contain;
        transition: 125ms ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -50%);
    gap: 12px;
    bottom: -20px;
}

.sign-up-button {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: bold;
    color: var(--purple-one);
    background-color: var(--light-purple);
    border: 1px solid var(--purple-one);
    border-radius: 45px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: var(--purple-one);
        color: white;
    }
}

.imprint {
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  
    > a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
      text-align: left;
      color: var(--purple-one);
  
      &:visited {
        color: var(--purple-one);
      }
  
      &:hover {
        color: var(--purple-one);
      }
  
      &:active {
        color: var(--purple-one);
      }
    }
  }

@media (min-width: 1200px) {

    header {
        width: 100%;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        height: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fp-logo {
        display: flex;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;

        >img {
            cursor: pointer;
            width: 200px;
            height: 70px;
            margin-left: 16px;
        }
    }

    .sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        gap: 0px;
        left: unset;
        bottom: unset;
        transform: unset;


        >span {
            padding-right: 30px;
            font-size: 18px;
        }
    }


    .sign-up-button {
        padding: 8px 16px;
        border: 1px solid transparent;
        font-weight: 400;
        font-size: 18px;

        &:hover {
            background-color: transparent;
            border: 1px solid #686868;
            color: var(--purple-one);
        }
    }

    .imprint {
        display: flex;
        bottom: 2%;

        >a {
            padding: 8px 16px;
            border: 1px solid transparent;

            &:hover {
                background-color: transparent;
                border: 1px solid #686868;
                border-radius: 45px;
                color: var(--purple-one);
            }
        }
    }
}