<app-intro></app-intro>
<header aria-hidden="false">
    <div class="fp-logo" routerLink="">
      <img [routerLink]="['start']" class="logo" src="/assets/img/logo.svg" alt="Logo">
    </div>
    <div class="sign-up" *ngIf="showSignUpDiv">
      <span>Neu bei DABubble?</span>
      <button routerLink="signup" class="sign-up-button">Konto erstellen</button>
    </div>
  </header>
  <router-outlet></router-outlet>
  <div class="imprint" *ngIf="showFooterDiv">
    <a routerLink="imprint" class="forgot-password">Impressum</a>
    <a routerLink="privacy" class="forgot-password">Datenschutz</a>
  </div>
