<mat-card class="login-card" [ngClass]="!isChangingAvatar ? 'centered ' : 'box-shadow'">
    <div class="arrow-back position-relative" *ngIf="!isChangingAvatar">
        <div routerLink="/signup" class="arrow-back-img"></div>
    </div>
    <mat-card-title class="m-20">Wähle deinen<span class="break"> Avatar</span></mat-card-title>
    <div class="avatar-big">
        <img #uploadedImage [src]="selectedAvatar" alt="main avatar">
        <h1 *ngIf="ownUser">{{ownUser.name}}</h1>
        <h1 *ngIf="!ownUser">{{userName}}</h1>
    </div>
    <div>
        <p>Aus der Liste wählen</p>
        <div class="avatar-choices">
            <img *ngFor="let avatar of avatars" [src]="avatar" alt="avatar" (click)="selectAvatar(avatar)">
        </div>
        <div class="alt-choice">
            <p>eigenes Bild verwenden</p>
            <label class="custom-file-upload">
                Datei hochladen
                <input type="file" #fileInput (change)="onFileSelected($event)">
            </label>
        </div>
        <span *ngIf="fileError" class="validMsg">{{fileError}}</span>
    </div>
    <div class="login-actions jc-end" *ngIf="!ownUser">
        <button (click)="logSelectedAvatar()" class="prio-button"
            [disabled]="isContinueButtonDisabled()">Weiter</button>
    </div>
    <div class="login-actions jc-end" *ngIf="ownUser">
        <button (click)="logSelectedAvatar()" class="prio-button">Auswählen</button>
    </div>

</mat-card>