.header {
    background-color: var(--main-background);
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 20px;

    h2 {
        font-size: 24px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        font-weight: 600;
    }

    h2,
    p {
        margin-block-end: 8px;
    }
}

.overview,
.tutorial {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: var(--main-background);

}

.overview h3,
.tutorial h3 {
    color: #333;
    font-weight: 700;
    font-size: 18px;
}

.overview ul {
    list-style-type: disc;
    margin-left: 20px;
}

.tutorial ol {
    list-style-type: decimal;
    margin-left: 20px;
    font-size: 16px;

    p {
        font-size: 14px;
    }
}


.footer-section {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}