.full-page {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.max-width {
  display: flex;
  width: 100%;
  max-width: 1920px;

  app-side-nav {
    background-color: white;
    border-radius: 16px;
    height: calc(100vh - 131px);
  }

  app-side-nav.full-width {
    width: 100%;
    padding: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  app-chat-main {
    background-color: white;
    margin: 8px;
    border-radius: 16px;
    height: calc(100vh - 131px);
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;

    &.full-width {
      width: 100%;
    }
  }

  app-thread {
    width: 25%;
    min-width: 380px;
    background-color: white;
    margin: 8px;
    border-radius: 16px;
    height: calc(100vh - 131px);
    position: relative;
  }

  app-thread.full-width {
    width: 100%;
    min-width: unset;
    margin-left: 16px;
    margin-right: 16px;
  }

  .workspaceMenuBtn {
    position: absolute;
    left: 0;
    bottom: 112px;
    transform: rotate(270deg);
    transform-origin: left top;
    background-color: white;
    height: 24px;
    box-shadow: 0 1px 4px 1px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 9;
  }
}

@media(max-width:1200px) {
  .mobile-buttons {
    display: none;
  }

  .workspaceMenuBtn {
    display: none;
  }
}

@media(max-width:374px) {
  app-side-nav.full-width {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}