<app-header [currentView]="currentView" [isMobileView]="isMobileView"
  (mobileLogoClicked)="switchTo('channels')"></app-header>
<div class="full-page">
  <div class="max-width">
    <app-side-nav [@slideInOut]="!isMobileView ? (showChannels ? 'in' : 'out') : ''"
      *ngIf="!isMobileView || currentView === 'channels'" [ngClass]="{'full-width': isMobileView}"
      (channelSelected)="onChannelSelected()"
      (serverNameClicked)="handleServerNameClick()"
      ></app-side-nav>
    <app-chat-main [ngClass]="{'full-width': !showChannels && !showSecondary}"
      *ngIf="(!isMobileView && (currentView === 'main' || currentView === 'channels')) || (isMobileView && currentView === 'main')"
      (openThreadEvent)="openThreadComponent()">
    </app-chat-main>
    <app-thread *ngIf="showSecondary && (!isMobileView || currentView === 'secondary')"
      [@slideInOutRight]="!isMobileView ? (showSecondary ? 'in' : 'out') : ''" [ngClass]="{'full-width': isMobileView}"
      (closeThread)="closeThreadComponent()">
    </app-thread>
    <button (click)="openCloseChatChannel()" class="workspaceMenuBtn" mat-raised-button>
      {{ workspaceMenu }}
    </button>
  </div>
</div>