<div
  class="singelMessageContainer"
  [ngClass]="{ 'message-left': !isCurrentUser, 'message-right': isCurrentUser }"
  (click)="onMessageClick()"
>
  <img
    *ngIf="userProfile.imgScr"
    [src]="userProfile.imgScr"
    alt="{{ userProfile.name }}"
    class="profile-img"
  />

  <div class="message-wrapper">
      <div class="message-header">
        <span class="timestamp">{{convertToDate(message.timestamp) | date : "shortTime"}}</span>
        <span class="name">{{ userProfile.name }}</span>
      </div>
    
      <div class="reactionBar">
        <div class="check"></div>
        <div class="handsUp"></div>
        <div class="reaction"></div>
        <div class="comment"></div>
        <div class="vertPoints"></div>
      </div>
    
      <div class="message-content">
        <p>{{ message.content }}</p>
      </div>
  </div>

</div>
