<div class="singelMessageContainer" [ngClass]="{ 'message-left': !isCurrentUser, 'message-right': isCurrentUser }">
  <img *ngIf="userProfile.avatar" [src]="userProfile.avatar" alt="{{ userProfile.name }}" class="profile-img" />

  <div class="message-wrapper" [ngClass]="{ 'full-width': isEditing }">
    <div class="message-header">
      <span class="timestamp">{{ convertToDate(message.timestamp) | date: 'HH:mm' }} Uhr</span>
      <span class="name" (click)="openProfilePopup(message.senderId)">{{ userProfile.name }}</span>
    </div>

    <div class="reactionBar" [ngClass]="{ 'reactionBar-left': isCurrentUser, 'reactionBar-right': !isCurrentUser }">
      <div class="check"></div>
      <div class="handsUp"></div>
      <div class="reaction"></div>
      <div *ngIf="!isCurrentChatPrivate" class="comment" (click)="onMessageClick()"></div>
      <div *ngIf="isCurrentUser" class="vertPoints" [matMenuTriggerFor]="menu">
      </div>
    </div>

    <div class="message-content" [ngClass]="{ 'editing': isEditing }">
      <p *ngIf="!isEditing">{{ message.content }}</p>
      <div *ngIf="isEditing" class="editing-container">
        <input [(ngModel)]="editContent" />
        <div class="message-controls">
          <button class="cancel-button" (click)="cancelEdit()">Zurück</button>
          <button class="save-button" (click)="saveEdit()">Speichern</button>
        </div>
      </div>
      <div *ngIf="message.attachments && message.attachments.length > 0" class="attachments">
        <div *ngFor="let attachment of message.attachments">
          <ng-container *ngIf="isImage(attachment); else pdfTemplate">
            <!-- PDF als Preview anzeigen -->
            <img [src]="attachment" alt="Anhang" class="attachment-img" />
          </ng-container>
          <ng-template #pdfTemplate>
            <!-- PDF Vorschau anzeigen -->
            <a [href]="attachment" target="_blank" class="pdf-preview-link">
              <div class="pdf-preview">
                <img src="../../assets/img/chatChannel/pdf.png" alt="PDF-Icon" class="pdf-icon" />
                <div class="pdf-details">
                  <span>PDF öffnen</span>
                </div>
              </div>
            </a>
          </ng-template>
        </div>
      </div>
    </div>



    <div *ngIf="message.threadCount && message.threadCount > 0" class="thread-count" [ngClass]="{
        'thread-count-end': isCurrentUser && screenSmall,
        'thread-count-start': !isCurrentUser && screenSmall
      }">
      <span (click)="onMessageClick()" class="answer-count">
        {{ message.threadCount }} Antwort{{ message.threadCount > 1 ? 'en' : '' }}
      </span>
      <span *ngIf="message.lastReplyTimestamp" class="last-reply-time">
        Letzte Antwort {{ convertToDate(message.lastReplyTimestamp) | date: 'HH:mm' }}
      </span>
    </div>


    <mat-menu #menu="matMenu">
      <ng-container *ngIf="isCurrentUser">
        <button mat-menu-item (click)="editMessage()">Nachricht bearbeiten</button>
        <button mat-menu-item (click)="deleteMessage()">Nachricht löschen</button>
      </ng-container>
    </mat-menu>

  </div>