.singelMessageContainer {
  position: relative;
  display: flex;
  height: fit-content;
  gap: 30px;

  &::before {
    content: "";
    position: absolute;
    top: -16px;
    left: -32px;
    right: -32px;
    bottom: -16px;
    z-index: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  &:hover {


    &::before {
      background-color: var(--main-background,
          rgb(235, 239, 254));
    }

    .reactionBar {
      display: flex;
    }
  }

  .message-content {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  &.message-left:hover .message-content {
    background: var(--white);
    color: var(--black);
  }

}


.message-wrapper {
  z-index: 2;
  max-width: 75%;
}

.message-wrapper .message-right {
  display: flex;
  justify-content: flex-end;
}


.timestamp {
  font-size: 14px;
  color: #888;
  margin-right: 8px;
}

.thread-count {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--purple-one);
  display: flex;
  gap: 8px;

  :nth-child(1) {
    cursor: pointer;
  }
}

.last-reply-time {
  margin-left: 10px;
  font-size: 14px;
  color: rgba(104, 104, 104, 1);
}

.profile-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  z-index: 2;
  object-fit: cover;
}

.message-header {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 2;
  width: max-content;
}


.message-content {
  min-width: min-content;
  width: auto;
  border-radius: 30px;
  padding: 16px;
  margin: 8px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  z-index: 2;

  p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
  }
}

.message-left .message-content {
  background: var(--main-background, rgb(235, 239, 254));
  color: var(--black, rgb(0, 0, 0));
  border-top-left-radius: 0 !important;
  border-top-right-radius: 30px;

  &:hover {
    background: var(--white);
    color: var(--black);
  }
}

.message-right .message-content {
  background: var(--purple-two, rgb(235, 239, 254));
  color: var(--white, rgb(0, 0, 0));
  border-top-right-radius: 0 !important;
  border-top-left-radius: 30px;
}

.message-right .message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-left,
.message-right {
  display: flex;
  margin: 8px 0;
}

.message-left .message-header {
  display: flex;
  flex-direction: row-reverse;
}


.message-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;

  >.profile-img {
    left: 16px;
  }

  >.reactionBar {
    left: 16px;
  }
}

.message-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  >.profile-img {
    right: 16px;
  }

  >.reactionBar {
    right: 16px;
  }
}

.name {
  font-weight: bold;
  font-size: 16px;
}

.reactionBar {
  display: none;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: solid 1px rgb(213, 215, 235);
  z-index: 100;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  position: absolute;
  top: -32px;

  &.reactionBar-left {
    left: 100px;
    animation: slideInFromRight 225ms ease-out;
  }

  &.reactionBar-right {
    right: 100px;
    animation: slideInFromLeft 225ms ease-out;
  }

  div {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      background-color: rgb(236, 238, 254);
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .check {
    background-image: url(../../../assets/img/chatChannel/check.svg);
  }

  .handsUp {
    background-image: url(../../../assets/img/chatChannel/handsUp.svg);
  }

  .reaction {
    background-image: url(../../../assets/img/chatChannel/add_reaction.svg);

    &:hover {
      background-image: url(../../../assets/img/chatChannel/add_reaction_hover.svg);
    }
  }

  .comment {
    background-image: url(../../../assets/img/chatChannel/comment.svg);

    &:hover {
      background-image: url(../../../assets/img/chatChannel/comment_hover.svg);
    }
  }

  .vertPoints {
    background-image: url(../../../assets/img/chatChannel/more_vert.svg);
  }

}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .profile-img {
    width: 50px;
    height: 50px;
  }

  .chat-container {
    padding: 0;
  }

  .reactionBar {

    &.reactionBar-left {
      left: 70px;
    }

    &.reactionBar-right {
      right: 70px;
    }
  }
}

@media (max-width: 500px) {
  .message-content {
    p {
      font-size: 14px;
    }
  }

  .profile-img {
    width: 40px;
    height: 40px;
    right: 4px;
  }

  .message-right {
    padding-left: 16px;
  }

  .message-left {
    padding-right: 16px;
  }

  .singelMessageContainer {
    gap: 12px;

    &::before {
      left: unset;
      right: unset;
    }
  }

  .thread-count {
    flex-direction: column;
    margin-left: 10px;
    font-size: 14px;
  }

  .thread-count-start {
    text-align: start;
  }

  .thread-count-end {
    text-align: end;
  }

  .last-reply-time {
    margin-left: 0;
    font-size: 12px;
  }

  .reactionBar {
    top: -40px;
    &.reactionBar-left {
      left: 50px;
    }

    &.reactionBar-right {
      right: 50px;
    }

    .check {
      background-image: url(../../../assets/img/chatChannel/check.svg);
      background-size: 20px;
    }

    .handsUp {
      background-image: url(../../../assets/img/chatChannel/handsUp.svg);
      background-size: 20px;
    }

    .reaction {
      background-image: url(../../../assets/img/chatChannel/add_reaction.svg);
      background-size: 20px;
    }

    .comment {
      background-image: url(../../../assets/img/chatChannel/comment.svg);
      background-size: 20px;
    }

    .vertPoints {
      background-image: url(../../../assets/img/chatChannel/more_vert.svg);
      background-size: 20px;
    }
  }
}