:host {
  overflow: visible;
}

.popup-container {
  display: flex;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  max-width: 800px;
  border-radius: 30px;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  z-index: 10;
}

mat-label,
.label {
  display: flex;
  align-items: center;
  color: black;
  margin-bottom: 16px;
}

.optional {
  color: var(--text-grey);
  font-weight: 400;
  margin: 0;
}

.addChannelInputs {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  border: 1px solid rgba(173, 176, 217, 1);
  outline-color: var(--purple-one);
  font-size: 18px;
  color: var(--black);
  padding: 20px;

  &:hover {
    border-color: var(--purple-one);
  }
}

.saveChannelBtn {
  background-color: var(--purple-one);
  height: 48px;
  border-radius: 24px;
  color: white;

  &:hover {
    background-color: var(--purple-two);
    border: var(--purple-one);
  }

  &[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    border: none;
  }
}

p {
  color: var(--Black, #000);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

h2 {
  color: var(--Black, #000);
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 16px;
}

h4 {
  color: var(--Black, #000);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  padding: 8px !important;
}

::ng-deep .mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 25px !important;
  overflow: visible !important;
}

.addUsersBtn {
  background-color: var(--purple-one);
  height: 48px;
  border-radius: 24px;
  color: white;
  border: transparent;

  &:hover {
    background-color: var(--purple-two);
    border: var(--purple-one);
  }
}

.custom-radio-group {
  display: flex;
  flex-direction: column;
}

.custom-radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;

  &:hover {
    .radio-circle {
      transform: scale(1.1);
    }
  }
}

.radio-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #adb0d9;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #444df2;
    border-radius: 50%;
    transform: scale(0);
    /* Beginne mit dem inneren Kreis verkleinert */
    transition: transform 0.3s ease;
  }
}

mat-label {
  margin-bottom: 0;
}

.userToClick {
  cursor: pointer;
  display: flex;
  padding: 4px 20px;
  align-items: center;
  gap: 15px;

  &:hover {
    border-radius: 30px;
    background-color: #eceefe;
  }

  >h2 {
    margin: 0;
    padding: 0;
    color: var(--Black, #000);
    font-size: 18px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
  }
}


.userToClick.disabled {
  cursor: not-allowed;
  opacity: 0.6;

  h2 {
    color: grey;
  }
}

.userToClick.disabled:hover {
  background-color: transparent;
}


.selected {
  cursor: pointer;
  display: flex;
  padding: 4px 20px;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  background-color: #b8beec;

  &:hover {
    background-color: #8690df;
  }

  h2 {
    margin: 0;
  }
}

.radio-circle.checked {
  background-color: #ffffff;
  border-color: #444df2;
  animation: radio-circle-expand 0.3s ease;

  /* Animation beim Check */
  &::after {
    transform: scale(1);
    /* Innerer Kreis skaliert auf seine normale Größe */
  }
}

@keyframes radio-circle-expand {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 30px;
  border: 1px solid rgba(173, 176, 217, 1);
  outline-color: var(--purple-one);
  font-size: 18px;
  color: var(--black);
  margin-bottom: 16px;

  &:hover,
  &:focus-within {
    border-color: var(--purple-one);
  }

  mat-chip-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px;
    padding: 10px 20px;

    mat-chip-row {
      border-radius: 35px;
      background: var(--Bg-color, #eceefe);
      display: flex;
      align-items: center;
      height: 40px;

      .chip-content {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
      }

      img {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 16px;
        color: var(--Black, #000);
      }

      .mat-chip-remove {
        margin-left: 0px;
      }
    }
  }


  input {
    flex: 1 1 auto;
    min-width: 120px;
    border: none;
    outline: none;
    font-size: 18px;
    color: var(--black);
    padding: 0 0 0 10px;
    margin: 0;
    height: 40px;
    align-self: center;
  }
}

mat-icon {
  font-size: 24px;
  font-weight: 700;
  color: var(--black, #000) !important;
  cursor: pointer;
}

.addUserInput {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  border: transparent;
  outline-color: none;
  outline: none;
  font-size: 18px;
  color: var(--black);
  padding: 20px;
}

.hoveringUserList {
  display: flex;
  width: 335px;
  padding: 20px 21px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;

  position: absolute;
  top: 43px;
  left: 22px;
  z-index: 10;

  border-radius: 0px 20px 20px 20px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  background: var(--White, #fff);
  /* header */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.status-indicator {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #fff;
  margin-left: -26px;
  margin-top: 30px;
  margin-right: 8px;
  flex-shrink: 0;

  &.online {
    background-color: #92c83e;
  }

  &.away {
    background-color: #ffc107;
  }

  &.offline {
    background-color: #686868;
  }
}

.addUserContent {
  overflow: visible;
}

.error-message {
  color: var(--error-color);
  font-size: 14px;
  margin-left: 12px;
  margin-top: 8px;
}

@media(max-width: 700px) {
  .addChannelInputs {
    font-size: 16px;
  }

  h2 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}


@media(max-width: 350px) {
  .addChannelInputs {
    font-size: 12px;
  }

  h2 {
    font-size: 16px !important;
  }
}