<mat-card class="login-card centered">
    <div class="arrow-back position-relative">
        <div routerLink="/signup" class="arrow-back-img"></div>
    </div>
    <mat-card-title class="m-20">Wähle deinen<span class="break"> Avatar</span></mat-card-title>
    <div class="avatar-big">
        <img [src]="selectedAvatar" alt="main avatar">
        <h1>Frederik Beck</h1>
    </div>
    <div>
        <p>Aus der Liste wählen</p>
        <div class="avatar-choices">
            <img src="/assets/img/profile/1.svg" alt="first avatar" (click)="selectAvatar('/assets/img/profile/1.svg')">
            <img src="/assets/img/profile/2.svg" alt="second avatar" (click)="selectAvatar('/assets/img/profile/2.svg')">
            <img src="/assets/img/profile/3.svg" alt="third avatar" (click)="selectAvatar('/assets/img/profile/3.svg')">
            <img src="/assets/img/profile/4.svg" alt="fourth avatar" (click)="selectAvatar('/assets/img/profile/4.svg')">
            <img src="/assets/img/profile/5.svg" alt="fifth avatar" (click)="selectAvatar('/assets/img/profile/5.svg')">
            <img src="/assets/img/profile/6.svg" alt="sixth avatar" (click)="selectAvatar('/assets/img/profile/6.svg')">
        </div>
        <div class="alt-choice">
            <p>eigenes Bild verwenden</p>
            <button class="alt-button">Datei hochladen</button>
        </div>
    </div>
    <div class="login-actions jc-end">
        <button routerLink="/avatar" class="prio-button">Weiter</button>
    </div>
</mat-card>