body {
    background-color: rgb(235, 239, 254);
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$purple-one: #444DF2;
$purple-two: #797EF3;
$purple-three: #535AF1;
$light-purple: #ECEEFE;