/* Global fontstyle from Angular Material change to fonts Nunito */
@use "@angular/material" as mat;

$open-sans-typography: mat.define-typography-config($font-family: '"Nunito", sans-serif'
  );

@include mat.typography-hierarchy($open-sans-typography);

$app-theme: mat.define-light-theme((typography: $open-sans-typography ));
@include mat.all-component-themes($app-theme);

/* Imports */
@import "./fonts.scss";
@import "./styles/mixins.scss";
@import "./styles/colors.scss";

/* Global styles */
* {
  font-family: Nunito, sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: var(--main-background, rgb(235, 239, 254));
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.hidden {
  display: none !important;
}

.jc-end {
  justify-content: end !important;
}

.jc-start {
  justify-content: start !important;
}


.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.full-width {
  width: 100%;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// scrollbar - width
::-webkit-scrollbar {
  width: 8px;
}

// Track
::-webkit-scrollbar-track {
  background: var(--light-purple);
}

// Handle
::-webkit-scrollbar-thumb {
  background: var(--purple-two);
  border-radius: 10px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: var(--purple-one);
}

.cdk-overlay-backdrop,
.cdk-overlay-backdrop-showing {
  display: none !important;
  opacity: 0 !important;
}