<div *ngIf="isDialogOpen" class="modal-background" (click)="closeDialog()"></div>

<div class="popup-container">
  <ng-container>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h2 mat-dialog-title>Leute hinzufügen</h2>
    <h2>für Channel: {{ channel.name }}</h2>
    <mat-dialog-content class="mat-typography">
      <div class="custom-radio-group">
        <div class="custom-radio-button" (click)="selectOption('allFromChannel')">
          <div class="radio-circle" [class.checked]="selectedRadio === 'allFromChannel'"></div>
          <mat-label>Alle Mitglieder von Devspace hinzufügen</mat-label>
        </div>
        <div class="custom-radio-button" (click)="selectOption('chooseUsersToAdd')">
          <div class="radio-circle" [class.checked]="selectedRadio === 'chooseUsersToAdd'"></div>
          <mat-label>Bestimmte Leute hinzufügen</mat-label>
        </div>
      </div>
      <p>You selected {{ selectedRadio }}</p>
      <input matInput [(ngModel)]="searchInput" (ngModelChange)="filterUsers()" *ngIf="
          selectedRadio === 'chooseUsersToAdd' || selectedRadio === undefined
        " type="text" placeholder="Name eingeben" />

      <div *ngIf="filteredUsers.length > 0">
        <span *ngFor="let user of filteredUsers">
          <div class="userToClick" (click)="selectUsers(user)" [ngClass]="{ 'selected': isSelected(user) }">
            <h2>
              {{ user.name }}
            </h2>
          </div>
        </span>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button class="addUsersBtn" mat-dialog-close [disabled]="loading" (click)="addUsersToChannel(channel, this.selectedRadio)"
        mat-flat-button>
        Erstellen
      </button>
    </mat-dialog-actions>
  </ng-container>
</div>
