<div class="mention-dropdown">
    <div class="mention-dropdown-content">
        <ul>
            <li *ngIf="filteredUsers.length === 0" class="no-results">
                Keine Resultate für: "<span class="searchTermText">{{ searchTerm }}</span>"
            </li>
            <li #userItem *ngFor="let user of filteredUsers; let i = index"
                (click)="selectUser(user)"
                [ngClass]="{'selected': selectedIndex === i}">
                <img [src]="user.avatar || 'assets/img/profile/fallback_user.png'"
                (error)="handleImgError($event)"
                alt="{{ user.name }}" />
              <div
                class="status-indicator"
                [ngClass]="{
                  'online': user.status === 'online',
                  'away': user.status === 'away',
                  'offline': user.status === 'offline'
                }"
              ></div>
              <span class="nameOfUser">{{ user.name }}</span>
            </li>
        </ul>
    </div>
</div>
