@import "./../../../styles.scss";
@import "./../../../styles/front-page.scss";

.invalid-border {
    border-color: var(--error-color, rgb(255, 0, 0));
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 45px;
    height: 41px;
    border: none;
    margin-bottom: 16px;
    background-color: var(--light-purple);
    transition:
        border 0.3s ease,
        background-color 0.3s ease;
    cursor: pointer;

    > span {
        font-size: 14px;
        color: var(--purple-one);
        text-decoration: none;
    }

    &:hover {
        border: 1px solid var(--purple-one);
        font-weight: 700;
    }
}

.google-icon {
    width: 25px;
    height: 25px;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
}

.forgot-password {
    display: block;
    font-size: 14px;
    color: var(--purple-two);
    text-decoration: none;

    &:hover {
        background-color: var(--light-purple);
        border-radius: 20px;
        border: none;
        padding: 5px 10px;
    }
}

@media (min-width: 1200px) {
    .google-login {
        > span {
            font-size: 18px;
        }
    }
}

@media (min-width: 500px) {
    mat-card-title {
        font-size: 28px;
    }

    mat-card-subtitle {
        font-size: 20px;
        font-weight: 400;
    }

    .input-container,
    .google-login {
        height: 48px;
    }

    .login-card {
        gap: 12px;
    }
}

@media (max-width: 499px) {
    .input-container > img {
        width: 20px;
    }
}
