.channelHeader {
    position: relative;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;

    .edit {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.serverName {
    width: 80%;
    height: 100%;
    background-image: url(../../assets/img/serverNameDefault.png);
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
        background-image: url(../../assets/img/serverNameHover.png);
        cursor: pointer;
    }

    &:active {
        background-image: url(../../assets/img/serverNameClick.png);
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 40px;
    background-repeat: no-repeat;
    margin-top: 24px;
}

.channels {

    tr {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;

        img {
            margin-right: 16px;
            margin-left: 40px;
        }
    }

    .addNewChannel {
        margin-top: 16px;
        margin-left: 24px;
    }
}

.closed {
    background-image: url(../../assets/img/chatChannel/menuChannelDefault.png);

    &:hover {
        background-image: url(../../assets/img/chatChannel/menuChannelHover.png);
        cursor: pointer;
    }

    &:active {
        background-image: url(../../assets/img/chatChannel/menuChannelClick.png);
    }
}

.opend {
    background-image: url(../../assets/img/chatChannel/menuChannelOpendDefault.png);

    &:hover {
        background-image: url(../../assets/img/chatChannel/menuChannelOpendHover.png);
        cursor: pointer;
    }

    &:active {
        background-image: url(../../assets/img/chatChannel/menuChannelOpendClicked.png);
    }
}

.directMessagesClose {
    background-image: url(../../assets/img/chatChannel/directMessageDefault.png);

    &:hover {
        background-image: url(../../assets/img/chatChannel/directMessageHover.png);
        cursor: pointer;
    }

    &:active {
        background-image: url(../../assets/img/chatChannel/directMessageClicked.png);
    }
}

.directMessagesOpend {
    background-image: url(../../assets/img/chatChannel/directMessageOpendDefault.png);

    &:hover {
        background-image: url(../../assets/img/chatChannel/directMessageOpendHover.png);
        cursor: pointer;
    }

    &:active {
        background-image: url(../../assets/img/chatChannel/directMessageOpendClicked.png);
    }
}

tr {
    &:hover {
        background-color: rgb(235, 239, 254);
        border-radius: 20px;
    }
}